.interinter{

  .interinter__list{
   width: 29%;
   float: left;

    &__title {
      font-family: "SFNSDisplay";
      font-size: 27px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &__item {
      display: block;
      margin-bottom: 28px;
      width: 100%;
    }

    &__link {
      text-decoration: none;
      font-family: "PatuaOne-Regular";
      font-size: 1.1vw;
      color: #000;
    }

    &__img {
      width: 165px;
      height: 101px;
      float: left;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
    }

    &__info {
      position: relative;
      display: table;
      float: left;
      width: -webkit-calc(100% - 165px);
      width: calc(100% - 165px);
      height: 101px;
      padding-left: 33px;

      &__text {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .interinter__flex{
    width: 66%;
    float: right;

    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between;
    -webkit-align-items: stretch; /* Safari */
    align-items: stretch; -webkit-align-content: flex-start; /* Safari */
    align-content: flex-start;
    margin-bottom: 0;

    &__item{
      width: 48%;

      &__link{
        text-decoration: none;
        color: #000000;
      }

      &__img{
        width: 100%;
        height: 300px;
        margin-bottom: 20px;

        @include img-on-bg();
      }

      &__type{
        display: none;
      }
      &__title{
        font-family: $ff-title;
        font-size: 1.6vw;
        line-height: 1.16;
        margin-bottom: 16px;
      }
      &__text{
        font-family: $ff-text;
        font-size: 16px;
        line-height: 1.5;
        color: #2c2c2c;
        margin-bottom: 25px;
      }
      &__tags{
        margin-bottom: 65px;
      }
      &__tags__pc{
        @include tag-item();

        &:hover{
          @include tag-item-hover;
        }
      }
    }
  }

}