//font-family: 'SFNSDisplay';
//font-family: 'PatuaOne-Regular';
//font-family: 'HelveticaReg';
$ff-main-title: 'SFNSDisplay';
$ff-title: 'PatuaOne-Regular';
$ff-text: 'HelveticaReg';

$second-color: #ff6161;
$third-color: #4d60cc;
$text-color: #2c2c2c;

@mixin tag-item(){
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  height: 23px;
  line-height: 15px;
  border-radius: 2.7px;
  padding: 3px 5px;
  text-transform: uppercase;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: $third-color;
  font-size: 14.4px;
  border: 2px solid $third-color;
}
@mixin tag-item-hover{
  background-color: #ffffff;
  color: $second-color;
  border: 2px solid $second-color;
  line-height: 15px;
}

@import "fonts";

body {
  font-family: $ff-text;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #f1f1f1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

.clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


@import "home";
@import "responsive";